<template>
    <div class="questions">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Questions</div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input @click="toggleSelectAll" type="checkbox" value="">
                                    </th>
                                    <th>Question</th>
                                    <th>Category</th>
                                    <th>Translated</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="question in allQuestions" :key="question.id">
                                    <td>
                                        <div class="form-check">
                                            <template v-if="question.isChecked">
                                                <input type="checkbox" class="form-check-input" checked>
                                            </template>
                                            <template v-else>
                                                <input type="checkbox" class="form-check-input">
                                            </template>
                                        </div>
                                    </td>
                                    <td>{{ question.text }}</td>
                                    <td>{{ question.category.name }}</td>
                                    <td style="text-align: center">
                                        <template v-if="question.persian_text">
                                            <i style="color: green" class="fas fa-check"></i>
                                        </template>
                                        <template v-else>
                                            <i style="color: red" class="fas fa-times"></i>
                                        </template>
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-secondary">View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['questions'],
        data () {
            return {
                allQuestions: this.questions
            }
        },
        methods: {
            toggleSelectAll () {
                this.allQuestions.forEach((item, key) => {
                    if (item.isChecked) {
                        this.$set(item, 'isChecked', false)
                    } else {
                        this.$set(item, 'isChecked', true)
                    }
                })
            }
        }
    }
</script>
