<template>
    <div class="is-reviewed">
        <template v-if="isSwitchDisabled == false">
            <template v-if="switchState == 1">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" checked value="1" id="customSwitches" name="is_reviewed" @click="toggleState()">
                    <label class="custom-control-label" for="customSwitches"></label>
                </div>
            </template>
            <template v-else>
                <div class="custom-control custom-switch">
                    <input type='hidden' value='0' name='is_reviewed'>
                    <input type="checkbox" class="custom-control-input" value="0" id="customSwitches" @click="toggleState()">
                    <label class="custom-control-label" for="customSwitches"></label>
                </div>
            </template>
        </template>
        <template v-else>
            <template v-if="switchState == 1">
               <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" disabled checked value="1" id="customSwitches" name="is_reviewed" @click="toggleState()">
                    <label class="custom-control-label" for="customSwitches"></label>
                </div>
            </template>
            <template v-else>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" disabled value="0" id="customSwitches" name="is_reviewed" @click="toggleState()">
                    <label class="custom-control-label" for="customSwitches"></label>
                </div>
            </template>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['state', 'disabled'],
        data () {
            return {
                isSwitchDisabled: this.disabled,
                switchState: this.state
            }
        },
        methods: {
            toggleState () {
                if (this.switchState == 1) {
                    this.switchState = 0
                } else {
                    this.switchState = 1
                }
                console.log(this.switchState);
            }
        }
    }
</script>
